.categories {
   margin: 20px;
}

.categories .header {
   padding: 2rem;
   border-radius: 10px;
   background-color: white;
   box-shadow: 5px 5px 15px rgb(232, 231, 231);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.right-section {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.header .title {
   font-size: 22px;
   font-weight: 700;
}
